body {
  background-image: url("assets/images/backgroundbody.webp");
  background-size: cover; /* Redimensionne l'image pour qu'elle couvre toute la fenêtre */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  background-repeat: no-repeat;
  height: 800px;
  padding: 30px;
}
.title {
  color: white;
}
/*loader chargement*/
.loader {
  z-index: 100;
  position: fixed;
  animation: loadercercle 1s forwards;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(50deg, #99e2d0, #9356dc, #ff79da, #99e2d0);
}
.loader .loaderConteneur {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loaderConteneurChargement {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/images/logo/ohmyfood.png"); /*faire son logo*/
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  width: 200px;
  height: 40px;
}
.loader .loaderConteneurChargement::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: green;
  width: 280px;
  height: 280px;
  animation: cercle 800ms linear infinite;
}
.loader .loaderConteneurChargement::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: green;
  width: 250px;
  height: 250px;
  animation: cercle 900ms linear reverse infinite;
}

.container {
  display: grid;
  grid-template-columns: 14px 1fr 14px;
  grid-template-rows: 1fr auto;
  position: relative;
}

@keyframes cercle {
  from {
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    transform: rotate(0deg);
    opacity: 0.3;
  }
}
@keyframes loadercercle {
  to {
    visibility: hidden;
    display: none;
  }
}

/* Styles pour le menu hamburger */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: aquamarine;
  height: 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo i {
  margin-right: 10px;
}
/* Styles pour le menu hamburger */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  transition: all 0.3s ease-in-out;
}

/* Styles pour le menu déroulant */
.menu {
  display: none;
  list-style-type: none;
  background-color: #008b8b;
  padding: 20px;
}

.menu.active {
  display: block;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* Styles pour le menu hamburger ouvert */
.hamburger-menu.open .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* Styles pour le menu déroulant en version responsive */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .menu li {
    padding: 10px;
    text-align: center;
  }

  .menu li a {
    display: block;
    font-size: 18px;
  }
}
/*style présentation*/
.color-apropos {
  background-color: #fff;
  width: 100%;
  height: 100px;

  color: #008b8b;
}
.color-projets {
  background-color: #fff;
  width: 100%;
  height: 400px;

  color: #008b8b;
  margin-top: 20ox;
}
.color-competence {
  background-color: #fff;
  width: 100%;
  height: 200px;
}
/*styles card projets*/
.card-image {
  width: 200px;
  height: 200px;
}
/*Styles formulaire de contact*/
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.color-title {
  color: #1d6154;
}
.color-text {
  color: #1d6154;
}
/* Styles pour le footer */
footer {
  background-color: aquamarine;
  color: #fff;
  padding: 20px 0;
  margin-top: 5px;
  height: 50px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link {
  color: #008b8b;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px;
}

.link i {
  margin-right: 5px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: black;
}
footer .fab,
.fas {
  color: #fff;
  size: 25px;
}
i.slider-competence,
.fa-brands {
  color: black;
}
